/* google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@400;700;900&display=swap');

body{
    font-family: 'Bebas Neue', cursive;
    font-family: 'Roboto', sans-serif;
}
.header-area{
    background-color:#FFFBF0;;
}
.card-image{
    background-color: #F1F1F1;;
}
.pricing-area h2{
    margin-bottom: 0px;
    font-size: 36px;
    color:#FABE4C;
    font-weight: 900;
}
.btn-buy{
    background-color: #A4BC46 !important;
    color: #fff;
}
.single-image{
    margin: 30px;
}
.card-image img, .shop-image img{
    width: 80%;
}
.card{
    border: none;
}

