/* google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@400;700;900&display=swap');

body{
    font-family: 'Bebas Neue', cursive;
    font-family: 'Roboto', sans-serif;
}
.header-area{
    background-color:#FFFBF0;;
}
.card-image{
    background-color: #F1F1F1;;
}
.single-image{
    margin: 30px;
}
.card-image img{
    width: 80%;
}

